<header class="header">
  <div class="header-logo">
    <a href="www.peluquriaescandalozaragoza.es"><img src="{{ site.url }}/img/logo.png" width="200" alt="logo peluqueria escandalo"></a>
  </div>
  <nav class="header-nav">
    <ul>
      <li><a href="#Nosotros" title="Nosotros">Nosotros</a></li>
      <li><a href="#Servicios" title="Servicios">Servicios</a></li>
      <li><a href="#Belleza" title="Belleza">Belleza</a></li>
      <li><a href="www.peluqueriaescandalozaragoza.es/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="header-facebook">
    <a href="https://www.facebook.com/peluqueria.escandalo?fref=ts"> <img src="{{ site.url }}/img/facebook.png" width="50" height="auto" alt="facebook peluqueria escandalo"> </a>
  </div>
  <span class="header-direccion">
    Teléfono: <br>
    976 27 78 08
  </span>
</header>
