---
layout: default
---

<section class="container mod-intro text-center">
		<h1>&#128582; Escandalo quiere compartir contigo</h1>
		<p class="large-text">{{ page.intro }}</p>

	</section>
	<article class="container">
		<ul class="container mod-row">
			{% for post in site.posts %}
				<li>
					<a href="{{site.url}}{{ post.url | preprend: site.url }}" title="{{ post.title }}">
						<img src="{{site.url}}/img/{{ post.image }}" width="220" height="320" alt="{{ post.title }}"/>
					</a>
				</li>
			{% endfor %}
		</ul>
	</article>
